
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222 47% 4%;
    --foreground: 0 0% 98%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 64% 52%;
    --primary-foreground: 45 64% 10%;

    --secondary: 222 47% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 222 47% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 158 84% 39%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 47% 17%;
    --input: 222 47% 17%;
    --ring: 45 64% 52%;
    
    --chart-1: 45 64% 52%;
    --chart-2: 158 84% 39%;
    --chart-3: 270 66% 31%;
    --chart-4: 0 84% 60%;
    --chart-5: 217 91% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 4%;
    --foreground: 0 0% 98%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 64% 52%;
    --primary-foreground: 45 64% 10%;

    --secondary: 222 47% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 222 47% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 158 84% 39%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 47% 17%;
    --input: 222 47% 17%;
    --ring: 45 64% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
